@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

/** Estilos generales **/
:root {
  --blanco: #fff;
  --negro: #111;
  --gris: #343a40;
  --funtePrincipal: 'Raleway', san-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--funtePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
}

h1,
h2,
h3 {
  font-weight: 900;
  margin: 1rem 0 4rem 0;
  line-height: 1.2;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 5.8rem;
}

h3 {
  font-size: 5rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

.btn {
  color: var(--gris);
  background-color: var(--blanco);
  border: 0.1rem solid var(--gris);
  padding: 0.5rem 2rem;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}

.btn:hover {
  background-color: var(--gris);
  color: var(--blanco);
}

/**  Utilidades **/
.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 5rem;
}

/** Estilos para el header **/
.header a {
  color: var(--blanco);
  font-size: 2rem;
}
.header {
  min-height: 60rem;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
}

.contenido-header {
  display: flex;
  flex-direction: column;
  height: calc(60rem - 10rem);
  color: var(--blanco);
  justify-content: space-between;
}
.nombre-sitio {
  font-weight: 300;
  text-align: center;
  font-size: 2.8rem;
}
@media (min-width: 550px) {
  .nombre-sitio {
    font-size: 4.3rem;
  }
}
@media (min-width: 768px) {
  .nombre-sitio {
    font-size: 5rem;
  }
}
.nombre-sitio span {
  font-weight: 900;
}
@media (min-width: 1200px) {
  .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .contacto {
    align-items: flex-end;
  }
}
.navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  /* gap: 2rem; */
}
.navegacion a {
  font-size: 1.6rem;
  padding: 0 1rem;
  transition: background-color 300ms;
  width: 100%;
  text-align: center;
}
.navegacion a:hover {
  background-color: rgb(255 255 255 / 0.5);
  color: var(--negro);
}
@media (min-width: 1200px) {
  .navegacion {
    flex-direction: row;
  }
  .navegacion a {
    font-size: 2rem;
  }
}
@media (min-width: 1600px) {
  .contacto a {
    font-size: 2rem;
  }
}
.telefono {
  display: flex;
  margin-right: 1rem;
}
.telefono::before {
  content: '';
  display: block;
  width: 4rem;
  height: 4rem;
  background-image: url(../img/telefono.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.slogan p {
  margin: 0;
}
.slogan h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .slogan h1 {
    font-size: 4.3rem;
  }
}
@media (min-width: 1200px) {
  .slogan h1 {
    font-size: 5rem;
  }
}
.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 1200px) {
  .slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

/** Nosotros **/

.nosotros {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-image: url(./../img/nosotros.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
}

@media (min-width: 992px) {
  .nosotros {
    grid-template-columns: repeat(3, 1fr);
  }
}

.contenido-nosotros {
  background-color: var(--blanco);
  padding: 2rem;
}

@media (min-width: 768px) {
  .contenido-nosotros {
    grid-column: 2/4;
  }
}

.contenido-nosotros h2,
.contenido-nosotros p {
  margin-bottom: 1rem;
}

.contenido-nosotros p {
  text-align: justify;
}

/** Modelos **/
.modelo {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: 5 rem;
}

.modelo:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .modelo {
    grid-template-columns: repeat(2, 1fr);
  }
}

.contenido-modelo {
  padding: 2rem;
  background-color: var(--blanco);
}

.contenido-modelo p {
  text-align: justify;
}

.basico {
  background-image: url(./../img/modelo_basico.jpg);
}

@media (min-width: 992px) {
  .basico {
    background-position: top right;
  }
  .basico .contenido-modelo {
    grid-row: 2/3;
    padding-left: 0;
  }
}

.premier {
  background-image: url(./../img/modelo_premier.jpg);
}

@media (min-width: 768px) {
  .premier {
    background-position: left bottom;
  }
  .premier .contenido-modelo {
    grid-column: 2/3;
    padding-right: 0;
  }
}

.elite {
  background-image: url(./../img/modelo_elite.jpg);
}

@media (min-width: 992px) {
  .elite {
    background-position: right top;
  }

  .elite .contenido-modelo {
    padding-left: 0;
  }
}

/** Galeria **/
.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.galeria img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.galeria .imagen:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
}

@media (min-width: 768px) {
  .galeria .imagen:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/4;
  }
}

.galeria .imagen:nth-child(3) {
  grid-column: 2/3;
  grid-row: 3/5;
}

@media (min-width: 768px) {
  .galeria .imagen:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.galeria .imagen:nth-child(6) {
  grid-column: 1/2;
  grid-row: 2/4;
}

@media (min-width: 768px) {
  .galeria .imagen:nth-child(6) {
    grid-column: 3/4;
    grid-row: 1/3;
  }
}

/** Footer **/
.footer {
  height: 50rem;
  background-image: url(./../img/footer_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--blanco);
}

.footer a {
  color: var(--blanco);
  font-size: 2rem;
}

.copyright {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--negro);
  margin: 5rem 0 0 0;
}
